<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>FAQ</title>
    <link rel="shortcut icon" href="/img/Screenshot (180).png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style1.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </head>
  <body>

    <%-include("partial/navbar") %> 

    <section>
     
        <div class="container-fluid">
          <h2>Frequently Asked Questions</h2>
          <div class="accordion">
             <div class="icon">
             
             </div>
             <h5>How can I signup or login in this website?</h5>
          </div>
          <div class="panel">
            <p>You can join the website by clicking the <span style="color:blue">Join now</span> button located on the top right coner</p>
          </div>
          <div class="accordion">
           <div class="icon">
   
           </div>
           <h5>What is the main purpose of the website?</h5>
        </div>
        <div class="panel">
          <p>The main purpose of this website is to let you know any kind of meaning , synonyms , antonyms of a word easily and fluently</p>
        </div>
        <div class="accordion">
         <div class="icon">
   
         </div>
         <h5>How do I use this website?</h5>
      </div>
      <div class="panel">
        <p>You have to paste any type of link or url on the search bar to gain the article of the articular website. Then you just have to hover your mouse on the desired word and watch the magic happen.</p>
      </div>
      <div class="accordion">
       <div class="icon">
   
       </div>
       <h5>How can I contact with the developers?</h5>
    </div>
    <div class="panel">
      <p>At the top of the first landing page,you will get a option named <span style="color: blue;">Contact</span></p> ,from where you will get all the contact details.
    </div>
    <div class="accordion">
     <div class="icon">
   
     </div>
     <h5>Why should we use this website?</h5>
   </div>
   <div class="panel">
    <p>In this website anyone can not only just search for a word but also he can access the whole website by searching the url and can know the meaning of the word and so many more</p>
   </div>
   <div class="accordion">
     <div class="icon">
   
     </div>
     <h5>How to be on top of the leader board?</h5>
   </div>
   <div class="panel">
    <p>Just add the words ou know the meaning of. The more words you know the more fast you will reach at the top.</p>
   </div>
        </div>
  
     
   </section>
    

   
    <section>
      <div class="container-fluid copyright-container">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center text-md-start">
              <small class="text-white">Copyright © Dictionary Traversal 2021. All Right Reserved By Team Storm£Breaker.</small>
            </div>
            <!-- <div class="col-md-4 text-end">
              <small class="text-white">Design and developed by <a href="" style="text-decoration: none;"></a></small>
            </div> -->
          </div>
        </div>
      </div>
     </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 <script src="/js/scripts.js"></script>  
  </body>
</html>
