<%- include("partial/head") %> 
    <body>
      <%- include("partial/navbar") %> 
        <h1 id="h1">HOME PAGE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quas laboriosam molestiae cupiditate laudantium numquam reiciendis fugit eius id accusamus deleniti libero culpa repudiandae porro, aperiam vel nobis. Animi, ipsum!</p>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis iure culpa iusto eaque fugit earum est molestias beatae impedit placeat, nobis obcaecati, nihil debitis quas voluptate dolorum qui delectus et!</p>
        <!-- <script src="/js/demo.js">
           

        </script> -->
    </body>
</html>