body{
    background-image: url(/img/imgss.jpg);
    background-position: cover;
}
.card{
    height: 500px;
    width: 400px;
    margin-left: 100px;
}
.row{
    padding-left: 40px;
}
.era{
    padding-left: 30px;
}
.joke{
    padding-left: 100px;
}
.new a{
    text-decoration: none;
}
.new a:hover{
    color: black;
}