<section>
  <div class="container-fluid py-3 my-image">
    <div class="container">
      <!-- <div>
        <a href="/logout"
          ><button style="background:aqua" style= "margin-right: 1000px">
            logout
          </button></a
        >
      </div> -->
  
      <div class="row">
         <div class="col-md-4 text-center text-md-start">
              <img src="/img/rsz_dic2.png" alt="" class="img-fluid">
          </div>
        <div class="col-md-8 text-center pt-3 pt-md-0 pt-lg-5">
          <nav class="py-2 custom-nav">
            <a href="/"
               <button class="btn btn-outline-info me-3 my-2 my-lg-0 arnob" style="color:black"> 
                <b>Home</b>
              </button></a>
            <a href="/contact"
              ><button class="btn btn-outline-info me-3 my-2 my-lg-0 arnob" style="color:black">
                <b>Contact</b>
              </button></a
            >
            <!-- <a href="Form6.html"><button class="btn btn-outline-danger me-3 my-2 my-lg-0">Sign In</button></a>  -->
           
            <a href="/leaderboard"
              ><button class="btn btn-outline-info me-3 my-2 my-lg-0 arnob" style="color:black">
                <b>Leaderboard</b>
              </button></a
            >
            <a href="/games"
              ><button class="btn btn-outline-info me-3 my-2 my-lg-0 arnob" style="color:black">
                <b>Play Games</b>
              </button></a
            > 
              <a href="/signup"id="remove"
            ><button class="btn btn-outline-info me-3 my-2 my-lg-0 arnob" style="color:black">
              <b id="Join-Out">Join Now</b>
            </button></a
          >
          
          </nav>
          <div class="search">
            <input type="text" placeholder="What are you looking for?" />
            <a href="https://www.google.com/"><i class="fas fa-search"></i></a>
          </div>
          <!-- <input class="form-control mt-3 mt-lg-5" type="text" placeholder="Search for any articles,essays of any categories...">  -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- rsz_dic2.png -->